* {
   
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1;   
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45pt;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
}
h3 {font-family: Arial, Helvetica, sans-serif;
    font-size: 21pt;
}
p { 
    font-family: 'Sarabun', sans-serif;
    font-size: 14pt;
}

a:visited {
    color: #FFFF;
}
a:hover {
    color:#4696D1;
}
a {
    color: #FFFF;
    text-decoration: none;
}
#header {
    text-align: center;
    background-image: url(../assets/imgs/hero_img_back_inicio.webp);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto 1fr;
    gap: 10px;


}

#header .logo__granFormato {
    width: auto;
    padding: 60px;
    align-items: center; 
}

.menu__navegacion  {
    width: auto;
    text-align: center;
    font-size: 16px;
    list-style: none;
    grid-column: 2/4;
    justify-content: center;
    align-items: center;
    padding: 70px;

}
.menu__navegacion ul li {
    display: inline-block;
    padding: 20px;   
}

#header .texto__principal {
    grid-column: 1/4;
    width: auto;
    text-align: center; 
     
}
#header .texto__principal h1 {
    width: auto;
    height: auto;
    font-size: 45pt;
    color: #FFFF;
    padding: 100px 40px 10px 40px;
    justify-content: center;
    align-items: center;
    
}
#header .texto__principal p {
    display:inline-block;
    font-size: 20pt;
    color: #FFFF;
    width: 60%;
    line-height: 38pt;
    padding: 40px;   
}
.boton__principal {
    grid-column: 1/4;
}

.boton__principal button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    background-color:#000000;
    border-radius: 5px;
    border-color: #4696D1;
    width: 250px;
    height: 60px;
    margin: 10px 100px;
}
.bloque__central {
    background-color: #FFFF;
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows:1fr 1fr;
    gap: 10px;
    justify-content: center;  
    align-items: center;
    
}
.bloque__central h2{
    width: 400px;
    line-height: 50pt;
    grid-row: 1/4;
    padding: 40px;
    text-align: left;
    align-items: center;
  
}
.bloque__central p {
    text-align: justify;
    line-height:2;
    height: auto;
    padding-top: 90px;
    padding-inline: 20px;

}
.bloque__central div {
    width: auto;
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    
}
.bloque__central div a img {
    width: 70%;
    margin: 40px;
    display: inline;
}

.logo_intrat {
    margin: -5px;
    
}

.banner__inicio {
    width: 100%;
    display: block;
    
}

#footerGeneral {
    background-color:#FFFF;
    width: auto;
    height: 50px;
    text-align: center;
    padding-top: 50px;  
    
}
#footerGeneral div {
    padding: 20px;
   
}


#footerGeneral div button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    background-color:#000000;
    border-radius: 5px;
    border-color: #4696D1;
    width: 300px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.redes__sociales {
    display: grid;
    width: auto;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    padding: 40px;

}
.redes__sociales div {
    
    grid-column: 3/5;
}
.redes__sociales img {
    width: auto;
    padding: 20px;
}
.redes__sociales p {
   
    grid-column: 6/7;
    grid-row: 6/2;
}

/* Equipos Mutoh page */

#headerGeneral {
    width: auto;
    height: 110px;
    background-color:#2A3B79;
    background-size: cover;
    padding-inline: 80px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
#headerGeneral div {
    width: auto;
    padding: 10px; 
     
}
#headerGeneral ul {
    
    padding: 20px;
}
#headerGeneral ul li {
    font-size: 18px;
    list-style: none;
    display: inline-block;
    padding: 10px;
}
#bloquePrincipal {
    width: auto;
    height: 600px;
    padding: 90px;
    display:inline-block;
    background-image: url(../assets/imgs/background_mutoh.webp);
    background-size: cover;
 /* falta terminar de componer img hero background en este bloque */
}
#bloquePrincipal h1 {
    background-color: #2a3b7980;
    width: 30%;
    height: auto;
    padding-bottom: 25px;
    line-height: 55px;
    display: inline-block;
    padding: 20px;
    margin-left: 10px;
    border-radius: 10px;
    color: #FFFF;
}
#bloquePrincipal h2 {
    background-color: #000000;
    width: 40%;
    padding-bottom: 10px;
    font-size: 24pt;
    display: block;
    padding: 10px 15px;
    margin-left: 8ºpx;
    color: #FFFF;
} 
#bloquePrincipal p {
    background-color:rgba(255, 255, 255, 0.456);
    border-radius: 10px;
    width: 45%;
    height: auto;
    padding: 30px;
    text-align: justify;
    line-height: 22pt;
    display: block;   
}
.bloque__centralMutoh {
  background-image: url(../assets/imgs/back_gray_L.webp);
  width: auto;
  height:150px;
  text-align: center;
  padding: 90px;
}
.bloque__centralMutoh p {
    width: 80%;
    height: auto;
    margin-inline: auto;
    padding-top: 15px;
    text-align: center;
    font-size: 19pt;
    line-height: 30pt;
}

.lineas__impresorasSub {
    width: auto;
    height: auto;
    text-align: center;
    padding: 70px;
    background-color: #41538F;
    color: #FFFF;
}
.lineas__impresorasSub table {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14pt;
       
}
.lineas__impresorasSub table tr th {
    background-color: #6CC3E8;
    padding: 15px 150px;
    border-radius: 5px;
    letter-spacing: 1pt;
    font-size: 23pt;
    
}
.lineas__impresorasSub table td {
    background-color: #6cc3e868;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Sarabun', sans-serif;   
}
.lineas__impresorasUv {
    width: auto;
    height: auto;
    text-align: center;
    padding: 70px;
    background-color:#B34B31;
    color: #FFFF;
}
.lineas__impresorasUv table {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14pt;
    
}
.lineas__impresorasUv table tr th {
    background-color: #EB592F;
    padding: 15px 150px;
    border-radius: 5px;
    letter-spacing: 1pt;
    font-size: 23pt;
    color: #FFFF;
}
.lineas__impresorasUv table td {
    background-color: #eb582f70;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Sarabun', sans-serif;  
}
.lineas__impresorasEco {
    background-color:#B72662 ;
    width: auto;
    height: auto;
    text-align: center;
    padding: 70px;
    color: #FFFF;
}
.lineas__impresorasEco table {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14pt;
    
}
.lineas__impresorasEco table tr th {
    background-color: #E82D81;
    padding: 15px 150px;
    border-radius: 5px;
    letter-spacing: 1pt;
    font-size: 23pt;
    color: #FFFF;
}
.lineas__impresorasEco table td {
    background-color: #e82d8173;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Sarabun', sans-serif;
}
.contenido__inferior {
    background-image: url(../assets/imgs/back_gray_L.webp);
    width: auto;
    height: 400px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.contenido__inferior p {
    width: 80%;
    height: auto;
    margin-inline: auto;
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: justify;
    font-size: 16pt;
    line-height: 20pt;
   
}
.contenido__inferior img {
    display: block;
    width: 100%;
    padding-bottom:20px;
}

/* --------nutec digital ink page---- */

.bloque__principalNutec {
    width: 100%;
    height: 600px;
    display: inline-block;  
}
.bloque__principalNutec h1 {
    background-color: white;
    width: auto;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 70px;
}
.bloque__principalNutec p {
    background-color: white;
    width: 40%;
    height: 100px;
    margin-top: 20px;
    margin-left: 75px;
    margin-bottom: 0px;
    padding: 15px;
    text-align: justify;
    font-size: 14pt;
    line-height: 15pt;
}
.logo__mainNutec {
    width: auto;
    height: min-content;
    display: inline;
    margin-top: 50px;
    margin-inline: 70px;
}
.bloque__centralNutec {
    width: auto;
    height:auto;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.bloque__centralNutec h2 {
    background-color: #A7A8AA;
    width: 400px;
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #FFFF
}
.bloque__centralNutec ul li {
    width: 50%;
    height: auto;
    font-size: 24px;
    list-style: none;
    display: auto;
    padding:3px;
}
.bloque__centralNutec p {
    width: 40%;
    padding: 10px;
    font-style: italic;
     
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 18pt;
    display: inline-block;
}
.contenido__inferiorNutec {
    background-image: url(../assets/imgs/back_gray_L.webp);
    background-size: cover;
    width: auto;
    height: auto;
    text-align: center;
    padding: 60px;
}
.contenido__inferiorNutec h2 {
    color: #899362;
    width: 80%;
    height: auto;
    display: inline-block;
    margin-bottom: 20px;    
}
.contenido__inferiorNutec p {
    width: 80%;
    display: inline-block;
    line-height: 20pt;
}
.formulario__nutec  {
    width: 40%;
    height: auto;
    padding: 10px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    border-style:dotted;

}
.formulario__nutec p {
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
.formulario__nutec label {
    width: auto;
    display: inline-block;
    color: #000000;
    margin-top: 20px;
}
.formulario__nutec input {
    width: 90%;
    height: 30px;
    display: inline-block;

}
.formulario__nutec fieldset {
    background-color: #FFFF;
    height: auto;
    padding: 20px;
}
/* Servicio técnico page */

.bloque__principalServicio {
    background-image: url(../assets/imgs/back_gray_L.webp);
    background-size: cover;
    background-blend-mode:overlay;
    width: auto;
    height: auto;
    padding: 70px;
}
/* Falta Cambiar img background */
.bloque__principalServicio img {
    width: 30%;
    height: auto;
    display: inline;
}
.bloque__principalServicio h1 {
    width: auto;
    padding: 15px;
    margin-top: 30px;
    color: #4696D1;
    
}
.bloque__principalServicio p {
    width: 62%;
    height: auto;
    border-radius: 10px;
    line-height: 20pt;
    text-align: justify;
    display: block;
    padding: 20px;

}
.bloque__principalServicio .banner__servicio {
    width: auto;
    height: auto;
    border-radius: 10px;
}
.contenido__centralServicio {
    width: auto;
    height: auto;
   
    text-align: center;
    width: auto;
    height: auto;
    padding: 20px;
    margin-bottom: 10px;

}
.contenido__centralServicio h2 {
    width: auto;
    color: #4696D1;
    padding: 15px;
    margin-top: 10px;

}
.contenido__centralServicio p {
    width: 80%;
    display:inline-block;
    text-align: justify;
    padding: 10px;
    line-height: 20pt;
}
.servicios {
    width: auto;
    height: auto;
    text-align: center;
    display: inline;
   
}
.servicios h1 {
    width: 30%;
    height: 50px;
    font-size: 30pt;
    background-color: #4696D1;
    color: #FFFF;
    margin-bottom: 20px;
    padding: 20px;
  
}
.servicios h2 {
    width: 60%;
    height: auto;
    font-size: 25pt;
    display: inline-block;
}
.servicios h3 {
    color: #4696D1;
    font-size: 23pt;
    font-weight: 100;
    padding: 10px;
}
.servicios ul li {
    width: auto;
    list-style: none;

}
.servicios p {
    width: 80%;
    height: auto;
    padding: 20px;
    display: inline-block;
    line-height: 20pt;
    text-align: justify;
    margin-bottom: 10px;

}
.resaltado {
    width: auto;
    background-color: #2A3B79;
    background-blend-mode:hard-light;
  
    padding-top: 20px;
    margin-bottom: 20px;
    
}
.resaltado h2 {
    color: #4696D1;
    font-size: 30pt;

}
.resaltado h3 {
    color: #FFFF;
}
.resaltado p {
    color: #FFFF;
    line-height: 30pt;
}
.servicios button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    background-color:#000000;
    border-radius: 5px;
    border-color: #4696D1;
    width: 300px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 40px;

}
.contenido__inferiorServicio {
    background-color: #4696D1;
    background-size: cover;
    width: auto;
    height: auto;
    text-align: center;
    padding: 60px;
    color: #FFFF;
}
.contenido__inferiorServicio2 {
    background-image: url(../assets/imgs/back_gray_L.webp);
    text-align: center;
    width: auto;
    height: auto;
    padding: 30px;
   
}
.contenido__inferiorlogo {
    width: 25%;
    height: auto;
    padding: 30px;      
}
.contenido__inferiorServicio2 h2 {
    padding: 10px;
    color: #4696D1;
}
.contenido__inferiorServicio2 p {
    width: 80%;
    display: inline-block;
    line-height: 20pt;
    padding: 20px;
    text-align: justify;
}
/* Inicia ¿quénes somos? page */

.bloque__principalSomos {
    text-align: center;
    width: auto;
    height: auto;
    padding: 40px;

}
.bloque__principalSomos img {
    width: 20%;
    height: auto;
}
.bloque__principalSomos h1 {
    color: #4696D1;
    width: auto;
    padding: 10px;
    margin-top: 40px;  
}
.bloque__principalSomos h2 {
    width: 56%;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 23pt;
    line-height: 30pt;
}
.bloque__principalSomos p {
    width: 60%;
    height: auto;
    display: inline-block;
    text-align: justify;
    line-height: 20pt;

    /* falta diseñar background */
}
.bloque__centralSomos {
    width: auto;
    background-color: #4696D1;
    text-align: center;
    padding: 20px;
    color: #FFFF;
} 
.banner__somos img {
   
    width: 100%;
    height: auto;
}

.Contacto {
    width: 40%;
    height: auto;
    text-align: center;
    margin-inline: 60px;
    display: inline-block;
}
.Contacto p {
    width: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: block;
    font-size: 25pt;
    color: #4696D1;
    text-align: center;

}
.Contacto label {
    width: auto;
    display: inline-block;
    color: #000000;
    margin-top: 20px;
}
.Contacto input {
    width: 90%;
    height: 30px;
    display: inline-block;

}
.Contacto fieldset {
    background-color: #FFFF;
    width: auto;
    height: auto;
    padding: 20px;
}
.Contacto span {
    margin: 10px ;
    display: block;

}
.Contacto textarea {
    font-style: italic;
    color: #A7A8AA;
    padding: 10px;
}

#footerGeneral h3 {
    padding: 10px;
    margin: 10px;

}
/* --------responsive------------  */
@media(max-width:768px) {
    #header {
       grid-template-columns: 1fr;
       grid-template-rows: 200px 60px 1fr 90px;
       display: grid;
       align-items: center;
       padding-left: 20px;
       
    }
    #header .logo__granFormato {
       grid-column: 1/4;
         
    }
    .menu__navegacion {
        padding: 10px;
        grid-row: 2/2;
        grid-column: 1/4;  
    }
    .texto__principal {
        grid-row: 3/3;
        padding: 15px;
    }
    .boton__principal {
        grid-row: 4/4;
        padding-bottom: 60px;
    }
    .bloque__central {
       background-color:#FFFF;
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 180px auto 140px;
       align-items: center;

    }
    .bloque__central h2 {
        width: auto;
        text-align: center;
        padding-top: 80px;
        grid-column: 1/4;
        grid-row: 1/1;
    }
    .bloque__central p {
        
        grid-column: 1/4;
        grid-row: 2/2;
        padding: -20px;
    }
    .bloque__central div {
        grid-column:1/4;
        grid-row: 3/3;
        
    }
}
@media(max-width:360px) {
   
    
    #header .logo__granFormato img {
       
        width: 130%;
        margin-left: -40px;
    }
    #header .texto__principal h1{
        
        font-size: 40px;
    }
    #header .texto__principal p {
        font-size: 15pt;
        width: 80%;
        padding: 10px;
        line-height: 30pt;
    } 
    .menu__navegacion ul li {
        background-color:#00000039;
        display:grid;
        text-align: center;
        margin-right: 50px;
        margin-top: 10px;
        padding: 5px;
        border-radius: 10px;
    
    }
    .boton__principal button{
        font-size: 12pt;
        display: block;
        width: 60%;
        margin-left:auto;
        margin-right: auto;

    }
    .bloque__central h2 {
       
        margin-top: 190px;
        line-height: 40pt;
        padding-bottom: 180px;
    }
    .bloque__central p {
        
        margin-top: 90px;
        padding-top: 30px;
    }
    .bloque__central div  {
        
        width: auto;
        margin-left: -30px;
        
    }
}
    





















